// Override Bootstrap variables in this file, e.g.
$font-size-base: 14px;
$marron: #3d3536; // marron
$vert-1: #99a478; // vert foncé
$vert-2: #b4d7a8; // vert clair
$blanc-1: #ffffff; // blanc
$blanc-2: #FAFAFA;
